<!DOCTYPE html>
<html lang="en">
<head>
   {{>heading}}
</head>
<body>
    <!-- navbar section -->
    {{>navbar}}
    
    <!-- page section -->
    <div class="container-fluid page-section">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                   <!-- left side -->
                  <div class="col-md-6 col-12 mx-auto left-section">
                      <img src="images/dev.png" alt="mobile" class="img-fluid">
                  </div>
                  <!-- right side -->
                 <div class="col-md-6 col-12 mx-auto about-right-section">
                    <h1>I am dhyan i am a <span>mern stack devloper</span></h1>
                 </div>
              </div>
          </div>  
        </div>
    </div>
    <!-- footer section -->
    {{>footer}}
</body>
</html>