<!DOCTYPE html>
<html lang="en">
<head>
   {{>heading}}
</head>
<body>
    <!-- navbar section -->
    {{>navbar}}
    
    <!-- page section -->
    <div class="container-fluid page-section">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                   <!-- left side -->
                  <div class="col-md-6 col-12 mx-auto align-items-center left-section">
                      <img src="images/err.png" alt="mobile" class="img-fluid">
                      <h1>oops page not found</h1>
                      <a href="/"><button class="btn btn-outline-primary mt-5">Go Back</button></a>
                  </div>   
              </div>
          </div>  
        </div>
    </div>
    <!-- footer section -->
    {{>footer}}
</body>
</html>